# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
cover/
htmlcov/
.mypy_cache/
.dmypy.json
.ruff_cache/
.ipynb_checkpoints
.spyderproject
.spyproject
.vscode/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Specific to this project
models/weather_models.joblib
smart_ai_farming_assistant/backend/models/weather_models.joblib
smart_ai_farming_assistant/offline_cache/
