# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
# Ignore all files and directories within venv
venv/**
*.egg-info/
.tox/
.nox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
.ruff_cache/
.ipynb_checkpoints
.vscode/

# Specific to this project
models/weather_models.joblib
.env
